
@charset "UTF-8";
@media only screen and (max-width: 600px) {

/** 
 * NVIDIA CSS Drop-Down Menu Theme
 *
 * @file		default.css
 * @name		NVIDIA
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE6+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2008 Live Web Institute. All Rights Reserved.
 *
 * Module Classes: *.dir {} *.on {} *.open {} li.hover {} li.first {} li.last {}
 * Expected directory tag - li
 *
 */


/*------------------------------------------------------------------------------------------------------/
 * @section		Base Drop-Down Styling
 * @structure	ul (unordered list)
 *				ul li (list item)
 *				ul li a (links)
 *				*(.class|:hover)
 * @level sep	ul
 */


/* ----- ALL LEVELS (incl. first) */

ul.dropdown {
 font: normal 14px  Arial, Helvetica, sans-serif;
 text-align: center;
 
}

	ul.dropdown li {
	 padding: 7px 0;
	 background-color:#800000;
	 color: #000;
	 line-height: normal;
	 width: 200px;
	 text-align: center;
	}

	
	ul.dropdown li:hover {
	 color: #000;
	}

	ul.dropdown a:link,
	ul.dropdown a:visited { color:#ffe699; text-decoration: none; }
	ul.dropdown a:hover { color: #000; text-decoration: none; }
	ul.dropdown a:active { color: #fff; }


/* ----- END LEVEL */


	/* ----- NON-FIRST LEVEL */

	ul.dropdown ul {
	 
	 background-color: transparent;
	 color: #fff;
	 font-size: 14px;
	 padding: 5px 0px;
	 text-transform: none;
	 filter: alpha(opacity=90);
	 -moz-opacity: .9;
	 KhtmlOpacity: .9;
	 opacity: .9;
	}

		ul.dropdown ul li {
		 background-color: #000;
		 color: #000;
		 filter: none;
		}

		ul.dropdown ul li.hover,
		ul.dropdown ul li:hover {
		 background-color: #000;
		}

		ul.dropdown ul a:link,
		ul.dropdown ul a:visited { color: #fff; }
		ul.dropdown ul a:hover { color: #fff; text-decoration: none; }
		ul.dropdown ul a:active { color: #fff; }


/* ----- END LEVEL */



/*------------------------------------------------------------------------------------------------------/
 * @section	Support Class 'dir'
 * @level sep	ul, .class
 */


/* ----- ALL LEVELS (incl. first) */

ul.dropdown *.dir {
	border:  solid black; border-width: 1px 0px ;
 padding-right: 12px;
 background-image: none;
 background-position: 100% 50%;
 background-repeat: no-repeat;
}

/* ----- END LEVEL */


/* Components override */


.main{
	margin-top:  20px;
}

.websites{
	flex-direction: column;
	margin-bottom: 20px;
}
.partition{
	margin-top: 5px;
	width: 400px;
}

.button {
  display: inline-block;
  border-radius: 0px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
    transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
	  padding-right: 25px;
	  
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}




#footer{
	text-align: center; font-size: 12px;
	padding: 20px;
}
}


/*------------------------FOR LARGER SCREENS-----------------*/
@charset "UTF-8";
@media only screen and (min-width: 600px) {

/** 
 * NVIDIA CSS Drop-Down Menu Theme
 *
 * @file		default.css
 * @name		NVIDIA
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE6+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2008 Live Web Institute. All Rights Reserved.
 *
 * Module Classes: *.dir {} *.on {} *.open {} li.hover {} li.first {} li.last {}
 * Expected directory tag - li
 *
 */


/*------------------------------------------------------------------------------------------------------/
 * @section		Base Drop-Down Styling
 * @structure	ul (unordered list)
 *				ul li (list item)
 *				ul li a (links)
 *				*(.class|:hover)
 * @level sep	ul
 */


/* ----- ALL LEVELS (incl. first) */

ul.dropdown {
 font: normal 14px  Arial, Helvetica, sans-serif;
 
}

	ul.dropdown li {
	 padding: 7px 0;
	 background-color:#800000;
	 color: #000;
	 line-height: normal;
	 width: 200px;
	}

	
	ul.dropdown li:hover {
	 color: #000;
	}

	ul.dropdown a:link,
	ul.dropdown a:visited { color:#ffe699; text-decoration: none; }
	ul.dropdown a:hover { color: #000; text-decoration: none; }
	ul.dropdown a:active { color: #fff; }


/* ----- END LEVEL */


	/* ----- NON-FIRST LEVEL */

	ul.dropdown ul {
	 
	 background-color: transparent;
	 color: #fff;
	 font-size: 14px;
	 padding: 5px 0px;
	 text-transform: none;
	 filter: alpha(opacity=90);
	 -moz-opacity: .9;
	 KhtmlOpacity: .9;
	 opacity: .9;
	}

		ul.dropdown ul li {
		 background-color: #000;
		 color: #000;
		 filter: none;
		}

		ul.dropdown ul li.hover,
		ul.dropdown ul li:hover {
		 background-color: #000;
		}

		ul.dropdown ul a:link,
		ul.dropdown ul a:visited { color: #fff; }
		ul.dropdown ul a:hover { color: #fff; text-decoration: none; }
		ul.dropdown ul a:active { color: #fff; }


/* ----- END LEVEL */



/*------------------------------------------------------------------------------------------------------/
 * @section	Support Class 'dir'
 * @level sep	ul, .class
 */


/* ----- ALL LEVELS (incl. first) */

ul.dropdown *.dir {
	border:  solid black; border-width: 0px 1px;
 padding-right: 12px;
 background-image: none;
 background-position: 100% 50%;
 background-repeat: no-repeat;
}

/* ----- END LEVEL */


/* Components override */


.main{
	margin-top:  20px;
}

.websites{
	flex-direction: row; 
	margin-right: 80px;
}
.partition{
	margin-right: 5px;
}


.button {
  display: inline-block;
  border-radius: 0px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
    transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
	  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



#footer{
	text-align: center; font-size: 12px;
}
}